{% extends "mailing/base.html" %}

{% block title %}Список получателей{% endblock %}

{% block content %}
    <div class="row m-auto">
        <div class="col-12 text-center">
            <h1>Доступные получатели рассылки</h1>
            <p>Здесь вы сможете ознакомиться с получателями рассылки</p>
            <div class="col-md-auto">
                <a href="{% url 'mailing:recipient_create' %}" class="btn btn-primary mb-3">Добавить нового получателя</a>
                <div class="row text-center">
                    {% for recipient in recipients %}
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <p>id получателя: {{ recipient.pk }}</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-start">E-mail: {{ recipient.email }}</p>
                                    <p class="card-text text-start">Ф.И.О: {{ recipient.full_name }}</p>
                                    <p class="card-text text-start">Описание: {{ recipient.comments|truncatechars:100 }}</p>
                                    <a href="{% url 'mailing:recipient_detail' recipient.pk %}"
                                       class="btn btn-primary">Подробнее</a>
                                    <a href="{% url 'mailing:recipient_update' recipient.pk %}"
                                       class="btn btn-primary">Редактирование</a>
                                    <a href="{% url 'mailing:recipient_delete' recipient.pk %}"
                                       class="btn btn-primary">Удалить</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
