{% extends "mailing/base.html" %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
    <div class="row m-auto">
        <div class="col-12 text-center">
            <div class="col-md-auto">
                <div class="row text-center">
                    <h1>Профиль пользователя</h1>
                    <div class="col-4">
                        <div class="card mb-3">
                            <p>Имя пользователя: {{ user.username }}</p>
                            <p>Email: {{ user.email }}</p>
                            <p>Страна: {{ user.country }}</p>
                            <p>Номер телефона: {{ user.phone_number }}</p>
                            <div class="mb-3">
                                <p>Аватар:</p>
                                {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}" alt="Аватар пользователя"
                                         class="img-thumbnail" style="max-width: 150px;">
                                {% else %}
                                    <p>Аватар не загружен. Используется изображение по умолчанию.</p>
                                {% endif %}
                            </div>
                            {% if 'Менеджеры' in user.groups.all|join:', ' %}
                                <p>Статус: {% if user.is_active %}Активен{% else %}Неактивен{% endif %}</p>
                                <p>Заблокирован: {% if user.is_blocked %}Да{% else %}Нет{% endif %}</p>
                            {% endif %}
                            <a href="{% url 'users:profile_edit' %}" class="btn btn-secondary">Редактировать профиль</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}