{% extends "mailing/base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="row justify-content-center text-center">
        <h2>Сброс пароля</h2>
        <p>Введите свой адрес электронной почты, чтобы получить инструкции по сбросу пароля.</p>
        <div class="col-md-6">
            <div class="card">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mb-3">Отправить инструкцию по сбросу пароля</button>
                </form>
                <p>Если вы вспомнили свой пароль, <a href="{% url 'users:login' %}" class="btn btn-success">войдите в
                    систему</a></p>
            </div>
        </div>
    </div>
{% endblock %}